/* Main CSS */
body {
  background-color: $white;
}

img {width: 100%;}
/* Main Page Container */

.container{
  margin: 0 auto;
  max-width: $max-width;
  width: 90%;
  background-color: $white;
  box-shadow: 0 10px 10px rgba(0,40,100,0.15);
}

.navbar {
  max-width: $max-width;
  width: $max-percent-width;
  margin: 0 auto;
}

/* form input valid/invalid indication */
input {
  &.ng-invalid.ng-touched {
    background-color: $error-color;
  }
  &.ng-valid.ng-touched {
    background-color: $valid-color;
  }
}

.pageBanner {
  text-align: center;
  width: $max-percent-width;
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
}


a{
  &.button {
    background-color: $button-red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    display: inline-block;
    box-shadow: 0 10px 10px rgba(0,40,100,0.15);
    text-align: center;
    &:hover{
       background-color: $hover-red;
       cursor: pointer;
    }
  }
}
