/* Table Styles */

table { 
  width: 90%; 
  margin: 0 auto;
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: $light-grey; 
}
th { 
  background: #d91423; 
  color: $white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid $grey; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: $min-device-width) and (max-device-width: $max-width)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid $grey; }
  
  td { 
    /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $light-grey; 
      position: relative;
      padding-left: 50%; 
      &:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
  }
  
  /*
  Data Labels
  */
  .bets{
    &:nth-of-type(1):before { content: "Event"; }
    &:nth-of-type(2):before { content: "Team"; }
    &:nth-of-type(3):before { content: "Decimal Odds"; }
    &:nth-of-type(4):before { content: "Fraction Odds"; }
    &:nth-of-type(5):before { content: "Bet Now"; }
  }
  .basket{
    &:nth-of-type(1):before { content: "Event"; }
    &:nth-of-type(2):before { content: "Team"; }
    &:nth-of-type(3):before { content: "Decimal Odds"; }
    &:nth-of-type(4):before { content: "Fraction Odds"; }
    &:nth-of-type(5):before { content: "Stake"; }
    &:nth-of-type(6):before { content: "Returns"; }
    &:nth-of-type(7):before { content: "Agreement"; }
  }

  .slip{
    &:nth-of-type(1):before { content: "Event"; }
    &:nth-of-type(2):before { content: "Bet No"; }
    &:nth-of-type(3):before { content: "Odds"; }
    &:nth-of-type(4):before { content: "Stake"; }
    &:nth-of-type(5):before { content: "Transaction No"; }
    &:nth-of-type(6):before { content: "Projected Winnings"; }
  }
}