// variables 

// colors 
$white: #FFFFFF;
$grey: #CCCCCC;
$light-grey: #EEEEEE;
$error-color: #FA787E;
$valid-color: #78FA89;
// Widths 
$max-width: 1024px;
$max-percent-width: 100%;
$min-device-width: 768px;
