/* Main CSS */
body {
  background-color: #FFFFFF; }

img {
  width: 100%; }

/* Main Page Container */
.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 10px rgba(0, 40, 100, 0.15); }

.navbar {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto; }

/* form input valid/invalid indication */
input.ng-invalid.ng-touched {
  background-color: #FA787E; }

input.ng-valid.ng-touched {
  background-color: #78FA89; }

.pageBanner {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  overflow: hidden; }

a.button {
  background-color: #d91423;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  display: inline-block;
  box-shadow: 0 10px 10px rgba(0, 40, 100, 0.15);
  text-align: center; }
  a.button:hover {
    background-color: #cc0000;
    cursor: pointer; }

/* Table Styles */
table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse; }

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #EEEEEE; }

th {
  background: #d91423;
  color: #FFFFFF;
  font-weight: bold; }

td, th {
  padding: 6px;
  border: 1px solid #CCCCCC;
  text-align: left; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #CCCCCC; }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    padding-left: 50%; }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap; }
  /*
  Data Labels
  */
  .bets:nth-of-type(1):before {
    content: "Event"; }
  .bets:nth-of-type(2):before {
    content: "Team"; }
  .bets:nth-of-type(3):before {
    content: "Decimal Odds"; }
  .bets:nth-of-type(4):before {
    content: "Fraction Odds"; }
  .bets:nth-of-type(5):before {
    content: "Bet Now"; }
  .basket:nth-of-type(1):before {
    content: "Event"; }
  .basket:nth-of-type(2):before {
    content: "Team"; }
  .basket:nth-of-type(3):before {
    content: "Decimal Odds"; }
  .basket:nth-of-type(4):before {
    content: "Fraction Odds"; }
  .basket:nth-of-type(5):before {
    content: "Stake"; }
  .basket:nth-of-type(6):before {
    content: "Returns"; }
  .basket:nth-of-type(7):before {
    content: "Agreement"; }
  .slip:nth-of-type(1):before {
    content: "Event"; }
  .slip:nth-of-type(2):before {
    content: "Bet No"; }
  .slip:nth-of-type(3):before {
    content: "Odds"; }
  .slip:nth-of-type(4):before {
    content: "Stake"; }
  .slip:nth-of-type(5):before {
    content: "Transaction No"; }
  .slip:nth-of-type(6):before {
    content: "Projected Winnings"; } }

/* Carousel Styles */
#banner.item {
  margin: 3px; }
  #banner.item img {
    display: block;
    width: 100%;
    height: auto; }

/*# sourceMappingURL=min/main.css.map */

/*# sourceMappingURL=min/main.css.map */
